body{
    padding: 4%;
    background-image: url("background.png");
}

h1{
    font-size: 400%;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.list{
    padding: 1%;
    font-size: 115%;
}
p{
    padding-top: 2%;
}
